@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:ital,wght@0,700;1,300&display=swap');


/* common styles  start*/

body{
    font-family: 'Poppins', sans-serif;
}


/* common styles  end*/



/* header section style start*/
.header-conatiner{
    margin-top: 50px;
}
.container{
    display: flex;
   
}
.header-title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header-title h3{
    margin-right: 350px;
    
}
.navbar-link{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar-link>ul{
    display: flex;
}
.navbar-link li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}
.navbar-link li a{
    text-decoration: none;
    color: black;
}

.navbar-link li:hover{
    background-color: rgba(128, 105, 3, 0.637);
    border:2px solid burlywood;
}
/* header section style end*/

/*  Top header section style start*/
.downheader-container{
    margin-top: 150px;
}
.flexiable-downheader{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
   
}
.img-half{
    width: 55%;
   
    transition:  transform 1s;
    
}
.img-half:hover {
    
    transform: rotate(180deg);
    background-color: gray;
}
.bt{
    margin-top: 20px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    padding:10px 40px;
    border-radius: 5em;
    /* margin-top: 20px; */
    color:white;
    font-weight: 400px;
}


/*  Top header section style end*/


/* logo container star */

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
    
}
.logo{
    margin-right: 80px;
}

/* logo container end */


/* collection styles start */
.section-title{
    text-align: center;
}
.collections{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap:30px;
    margin-top: 20px;
    place-items: center;
}

.collection{
   
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;

   
}
.collection img{
    margin: 20px;
    border-radius: 2px;
}

.filled{
    color:goldenrod;
    font-size: 0.8em;
}
.unfilled{
    color: lightgray;
    font-size: 0.8em;
}
.collection-details h6{
 margin: 0;
}

.seemore{
    position: absolute;
    right: 50px;
}
.seemore p a{
    text-decoration: none;
    color:#E02C6D;
}
/* collection styles end */
/* main extra part start */
.extra-container{
    margin-top: 162px;
}
.main-extra{
    text-align: center;
    font-size: 40px;
}
.orange-color{

    color: orange;
  }

  .content-b-foot{
    display: flex;
    border:5px solid;
    border-radius: 9px;
}


.content-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 10px;
    
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#remove{
    text-decoration: none;
}
/* main extra part end */

/* footer start */
 .web-foot{
    position: absolute;
    width: 1440px;
    height: 239px;
    left: 0px;
    top: 3067px;
    
    background: #0A0826;
    color: ghostwhite;
    text-align: center;
 }
 .web-foot h3, p{
     margin: 0;
 }
 .fa-instagram,.fa-twitter, .fa-youtube ,.fa-firefox{
     margin-right: 5px;
 }


/* footer end */